.heartbeat-container {
    position: relative;
    height:30px; /* Adjust height for horizontal line */
    overflow: hidden;
   
}

.heartbeat-svg {
    width: 200%; /* Keeps the animation moving seamlessly */
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 3s linear infinite; /* Faster movement for a better effect */
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
