/* PerfoServices.css */
@keyframes borderAnimation {
    0% {
      border-color: #7E1E43;
    }
    50% {
      border-color: #46077A;
    }
    100% {
      border-color: #4C6DC7;
    }
  }
  
  .border-animation {
    animation: borderAnimation 5s infinite;
  }
  